USE [master]
GO
/****** Object:  Database [DanhSachBanBe]    Script Date: 11/10/2024 5:44:38 PM ******/
CREATE DATABASE [DanhSachBanBe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DanhSahBanBe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DAT\MSSQL\DATA\DanhSahBanBe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DanhSahBanBe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DAT\MSSQL\DATA\DanhSahBanBe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DanhSachBanBe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DanhSachBanBe]
GO
/****** Object:  Table [dbo].[BanBe]    Script Date: 11/10/2024 5:44:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanBe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NULL,
	[age] [int] NULL,
	[phoneNum] [varchar](10) NULL,
	[university] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BanBe] ON 

INSERT [dbo].[BanBe] ([id], [name], [age], [phoneNum], [university], [address]) VALUES (1, N'Nguyen Van A', 21, N'0901234567', N'University of Technology', N'123 Le Loi, Ho Chi Minh')
INSERT [dbo].[BanBe] ([id], [name], [age], [phoneNum], [university], [address]) VALUES (2, N'Tran Thi B', 22, N'0912345678', N'University of Economics', N'45 Nguyen Trai, Ha Noi')
INSERT [dbo].[BanBe] ([id], [name], [age], [phoneNum], [university], [address]) VALUES (3, N'Le Van C', 20, N'0923456789', N'University of Science', N'678 Tran Hung Dao, Da Nang')
SET IDENTITY_INSERT [dbo].[BanBe] OFF
GO
USE [master]
GO
